@import '../base/_inherited.scss';
@import '../base/_mixins.scss';




body {

 	margin: 0;
 	padding: 0;
 	background-color: #f0f0f0;
    font-family: 'calibri',serif;
 
  .Header {

 	height: 60px;
 	color: #f0f0f0;
 	background-color:#3c3c3c;
 	border-bottom: 1px solid #0eb0ff;
 	border-width: thick;
 	}
 	
 	nav
 	{
		display: inline-block;
		float: right;
		padding:0.75%;
		margin-right:10%; 
	
		ul 
		{
		  margin: 0;
		  padding: 0;
		  list-style: none;
		    
		}
  
 	 	ul:after{
    	@extend %common_afterproperty;
  		}

  		li {
			  float:left;
			  text-align: center;
		  }
  
		.img_user
		{
			height: 35px;
			width: 35px;
			border:1px solid white;
			border-width: thin;
			border-radius: 4px;
		}

		.username 
		{
			padding: 0px 30px 8px 5px;
			border-right:0.3px solid black;
			border-color:grey;
			border-width:thin;
		}

		li.username 
		{
  
  			p {

				margin:8px 0px 0px 5px; 
				text-shadow:2px 2px black;
			  }
  		}
  
		ul.sprite 
		{

		  margin: 0;
		  padding: 0;
		  list-style: none;
  
  		li {
   
			  float: left;
			  text-align: center;
			  padding: 5px 5px 5px 7px;
			  text-shadow: 1px 1px white;
			    
  			}

		  a {
		    	text-decoration:none;
		    }
		}

		ul.sprite:after 
		{
  			@extend %common_afterproperty;
		}

	}

	footer {

	   	background-color:#3c3c3c;
	    height:35px;
	}
}

.main_wrapper {

	width:960px;
	margin:0 auto;
	
	.content_header > p 
	{

		font-size:175%;
		@extend %common_border;
		text-shadow: 1px 1px #e1e1e1;
		margin: 0px 0px 10px 0px;
		padding: 18px 0 8px 0;
	} 

  .content_header:after {

    @extend %common_afterproperty;
  }

	.user_form 
	{
		label {
				  width: 30%;
				  display: inline-block;
				  margin: 0;

				  sup {
						  color:red;
						  font-weight:bold;
				  }

			 }
	}
}

.main_wrapper:after 
{
  
   @extend %common_afterproperty;
}
.main_wrapper .wrapper1 {

	float:left;
	width:30%;
	height: 250px;
	
	> div 
	{

		background-color: #dddddd;
		width:50%;
		height:50%;
		margin: 0px auto 0px 0px;
	}
	
	> p 
	{

		margin:8px 0 4px 0;
		font-size:90%;
		padding:2px;
	    @extend %common_border;
	
    }
	
	#file-picture {

	padding: 5px;
	width: 55%;
	margin-top:5px;
    font-family: 'calibri',serif;
    }

    .user_submit 
    {
        @extend %common_wrapper1;
        @extend %common_styleinputlabel;
        margin-left: 10px;
        padding:7px 5px;
    }
    
    .user_submit:hover {
    
    	@extend %common_hoverstyle;
    }

	.user_upload {

	    @extend %common_wrapper1;
	    padding:7px;
	    margin:10px 0 0 0;
	    display:block;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	}
    
    .user_upload:hover {
    
    	@extend %common_hoverstyle;
    }
    
	input[type="file"] 
    {
        @extend %common_hideinputtypefile;
    }

}

.main_wrapper .wrapper2 {

	float:right;
	width:70%;
	padding-left: 30px;
	
	.login_info , .persn_info 
	{
    	margin-bottom: 20px;
	}

	.login_info > h3 , .persn_info > h3 {

		@extend %common_h3_header_style;
	}
    
    #confirm_message {

    display: inline-block;
    font-size: 11px;
    padding-left: 195px;
    color: #c51414;
    font-weight: 600;
    visibility: hidden;

   }

	.login_info input[type="text"] , .persn_info input[type="text"] , .login_info input[type="email"], .login_info input[type="password"] 
	{
	  @extend %common_input;
	}
	
}

.wrapper2 {
  
  section.Greetings 
  {
    margin-bottom: 20px;
    
    input[type="text"] 
    {
      
      @include Greetingsinputbutton(40%);  
    }
    
    .greetings {
    
    text-align:center;
    height:130px; 
    width:400px; 
    border:1px solid grey; 
    border-width: thin; 
    margin-left:120px; 
    margin-top:20px; 
    padding:8.5%;
        }
        
    .text-comp {
    display:inline;
    color:forestgreen;
    padding-left: 22%;
      }
    }
    
    .form_submit {
  
    background-color:#e1e1e1;
    margin:0 auto 20px -320px;
    height:45px; 
    width:960px;
  
	   button[type="button"] {
	    @extend %common_formsubmitbuttons;
	    }
	    
	    button[type="button"]:hover {
	      @extend %common_formsubmitbuttonsOnHover;
    }
     
  }
}
  

.Greetings {
    
    input[type="file"] {
        
        @extend %common_hideinputtypefile;
        }
      
    .user_greetings {
        
        @extend %common_styleinputlabel;
         padding:3px 10px 3px 10px;
        
        }
      .user_greetings:hover {
        
        @extend %common_hoverstyle;
        }

        > h3 {

        	@extend %common_h3_header_style;
        }
        
        #user_greet {
            width: 17%;
            display: inline-block;
            margin: 0;
            font-size: 90%;
            padding:7px;
        }    
    
    }

body:after {
  
  @extend %common_afterproperty;
}

/* ----------------- For chrome ------------- */
.red_alert::-webkit-input-placeholder {
color: #BE4B49 !important;
background:url('../images/caution2.PNG') right no-repeat ;
line-height: 1.8em;
font-weight: 480;
letter-spacing: 0.4px;
}

/*---------------- For Mozilla---------------*/
.red_alert::-moz-placeholder {
color: #D51818 !important;
line-height: 1.2em;
font-weight: 480;
letter-spacing: 0.4px;
}

/* ----------- For IE ----------------- */
.red_alert:-ms-input-placeholder {

  color: #BE4B49 !important;
  line-height: 1.2em;
  font-weight: 480;
  letter-spacing: 0.4px;
  
}

#Form_output {  
    max-width: 700px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 70%;
    left: 50%;
    transition:ease 0.25s all;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0,0,0,1);
    border-radius: 3px;
    background: #3c3c3c;
    color: white;

    p {

    		margin: 0;
		    background-color: rgba(255,255,255,0.9);
		    padding: 7px;
		    color: rgba(0,0,0,0.8);
		    text-align: justify;  
		    width:60%;
		    margin:1px auto;
		    box-shadow: 2px 2px 8px rgba(255,255,255,0.8);

    }

     #exit {

			  padding:8px;
			  background-color:#BE4B49;
			  color: black;
			  margin: 15px auto 0 auto;
			  display: block;
			  border: none;
			  color: rgba(255,255,255,0.8);
			  box-shadow: 2px 2px 5px rgba(255,255,255,0.6);
		}

	#exit:focus {

  				outline:0;
		}

}  